.gds {
  &-subtitle--1 {
    font-size: 16px;
    letter-spacing: 0.15;
    color: $primary-text1;
  }

  &-subtitle--2 {
    font-size: 14px;
    letter-spacing: 0.1;
    font-weight: 500;
    color: $primary-text1;
  }
}
