.gds {
  &-header--1 {
    font-size: 96px;
    font-weight: 200;
    letter-spacing: -1.5;
    color: $primary-text1;
    @include primary-font;
  }

  &-header--2 {
    font-size: 60px;
    font-weight: 200;
    letter-spacing: -0.5;
    color: $primary-text1;
    @include primary-font;
  }

  &-header--3 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    color: $primary-text1;
    @include primary-font;
  }

  &-header--4 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.25;
    color: $primary-text1;
    @include primary-font;
  }

  &-header--5 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    color: $primary-text1;
    @include primary-font;
  }

  &-header--6 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15;
    color: $primary-text2;
    @include primary-font;
  }
}
