.gds {
  &-keyboard-button {
    --key-size: 3rem;
    @include primary-font;
    @include basic-transistion;

    border: none;
    border-radius: 4px;
    background-image: linear-gradient(45deg, $primary-surface2, $primary-surface3);
    font-weight: 400;
    min-width: var(--key-size);
    height: var(--key-size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: calc(var(--key-size) / 3.4);
    flex-direction: column;
    color: $primary-text1;
    box-shadow: 0 0 0 2px $primary-surface3, inset 0 0px 6px $primary-surface1;

    &:hover {
      box-shadow: 0 0 0 2px $primary-text1, inset -1px 0px 10px $primary-surface1;
      cursor: pointer;
    }

    &--key {
      font-size: calc(var(--key-size) / 3.4);
    }

    &--alt {
      font-weight: 200;
      color: $primary-text2;
    }

    &--tab {
      min-width: initial;
      width: 100%;
    }

    &--caps {
      min-width: initial;
      width: 100%;
    }

    &--shift {
      min-width: initial;
      width: 100%;
    }

    &--enter {
      min-width: calc(var(--key-size) * 2);
    }

    &--backspace {
      min-width: initial;
      width: 100%;
      color: $primary-text2;
    }

    &--space {
      min-width: calc(var(--key-size) * 12);
    }

    &--active {
      background-color: $primary-surface3;
      color: $primary-text1;
    }

    &--skeleton {
      background-color: $skeleton-surface2;
      color: $skeleton-surface2;
      box-shadow: none;
    }

    &--disabled span,
    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
